.header{
  height: 57px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(221, 221, 221);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
  border-bottom: 1px solid rgb(221, 221, 221);
}
.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
  cursor: pointer;
}
.youtube-logo {
  display: block;
  height: 20px;
  cursor: pointer;
}
.middle-section {
  flex: 1;
  margin-left: 62px;
  margin-right: 35px;
  max-width: 470px;
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 40px;
  padding-left: 12px;
  font-size: 16px;
  font-family: "Roboto Flex", Arial;
  border: 1px solid rgb(205, 205, 205);
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  width: 0;
  position: relative;
  z-index: 1;
}

.search-bar:focus {
  outline: none;
  border-color: rgb(0, 112, 152);
}


.search-bar::placeholder {
  font-family: "Roboto Flex", Arial;
  color: rgb(140, 140, 140);
  font-size: 16px;
}

.search-button {
  height: 40px;
  width: 64px;
  background-color: rgb(247, 247, 247);
  border: 1px solid rgb(205, 205, 205);
  margin-left: -1px;
}
.search-button:hover {
  background-color: rgb(241, 241, 241);
}
.search-button:active {
  background-color: rgb(235, 235, 235);
}
.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container {
  font-family: "Roboto Flex", Arial;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip {
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 4px;
  font-size: 12px;
  position: absolute;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  white-space: nowrap;
  
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  opacity: 1;
}

.search-icon {
  height: 24px;
}
.voice-search-button {
  height: 40px;
  width: 40px;
  padding: 8px;
  border-radius: 50%;
  border: none;
  margin-left: 8px;
  background-color: rgb(247, 247, 247);
}
.voice-search-icon {
  height: 24px;
}


.right-section {
  width: 180px;
  margin-right: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}


.upload-icon {
  height: 24px;
}
.youtube-apps-icon {
  height: 24px;
}
.notifications-icon {
  height: 24px;
}

.notifications-icon-container {
  position: relative;
}

.notifications-count {
  position: absolute;
  top: -2px;
  right: -6px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-family: "Roboto Flex", Arial;
  font-size: 10px;
  padding: 1.5px 5px;
  border-radius: 50%;
  border: 1.5px solid white;
}
.current-user-picture {
  height: 32px;
  width: 32px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  
}

