.thumbnail {
  width: 100%;
  object-fit: cover;
}

.video-title {
  font-size: 13.5px;
  font-weight: 600;
  line-height: 20px;
  color: black;
  margin-bottom: 10px;
}
.video-link,.video-author-link{
  color: inherit;
  text-decoration: none;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: #606060;
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 1125px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* @media (min-width:450) and (max-width:500){
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
} */

@media (max-width: 870px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 450px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
}



.video-info-grid {
  display: grid;
  grid-template-columns: 48px 1fr;
}
/* .channel-picture {
  position: relative;

} */

.profile-picture-container {
  display: inline-block;
  position: relative;
}

.profile-picture {
  width: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info {
  width: 250px;
  height: 86px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 45px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.profile-picture-container:hover .profile-info {
  opacity: 1;
}

.channel-title-info {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 4px;
}
.channel-desc-info {
  font-weight: 500;
  color: #565656;
}

.profile-picture-info {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-time{
  font-family: "Roboto Flex", Arial;
  font-size: 11.5px;
  font-weight: 600;
  position: absolute;
  bottom: 11px;
  right: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 4px;
  border-radius: 2px;
}